<% notes.each do |note| %>
  <%= audio_tag note.upload.url, class: instrument.name %>
<% end %>

<%= audio_tag reverb.upload.url %>

<canvas id="visuals" width="150" height="150"></canvas>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content black-text">
    <h4>About Soundhouse</h4>
    <p>Soundhouse is an app for procedurally-generated ambient music.
      The basis for the app comes from... </p>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>

<footer>
  <a class="modal-trigger bottom-right white-text" href="#modal1"><i class="material-icons">info</i></a>

  <div class="bottom-left white-text unselectable users">
    <% users.each do |user| %>
      <span class="user<%= user.id %>"><%= user.email %></span>
    <% end %>
  </div>
</footer>
