<table>
  <% piano_notes.each do |note| %>
    <td><%= audio_tag note.upload.url %></td>
  <% end %>

  <% harp_notes.each do |note| %>
    <td><%= audio_tag note.upload.url %></td>
  <% end %>
</table>

<div class="center"><input id="pauseButton" type="button" value="Pause" class="btn"/></div>
