<h1 class="center">ambientz</h1>
<table>
  <% piano_notes.each do |note| %>
    <td><%= audio_tag note.upload.url %></td>
  <% end %>

  <% harp_notes.each do |note| %>
    <td><%= audio_tag note.upload.url %></td>
  <% end %>
</table>

<input id="pauseButton" type="button" value="Pause" />
